{% extends "base.html" %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block extra_head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-8 mt-3 offset-md-2">
            <h1 class="mb-5 mt-5"><i class="fa-solid fa-arrow-right-to-bracket"></i> {% trans "Log In to Planora" %}</h1>

            {% blocktrans %} <h2>Welcome back.</h2><br>
            <br>
            <h3 class="main-text">To make a reservation, please log in. If
                you
                have not created an account yet, then <a class="link" href="{{ signup_url }}">sign up</a>
                first.{% endblocktrans %}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <form class="login mt-4 mb-4" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-signup right mt-4 mb-4" type="submit">{% trans "Log In" %}</button>
            </form>
    </div>
    </div>
</div>
{% endblock %}

