@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap');

/* CSS Variables */
:root {
  --primary-font: "Inter", sans-serif;
  --secondary-font: "Macondo", serif;
  --primary-color: #fca311;
  --secondary-color: #14213d;
  --third-color: #e5e5e5;
  --light-color: #ffffff;
  --dark-color: #000000;
  --background-color: rgba(8, 8, 8, 0.5);
  --bs-gutter-x: 0;
}

body {
    background-image: url(../images/reservation-illustration.jpg) no-repeat center cover;
        }

.reservation-container {
    max-width: 550px;
    margin: 40px auto;
    background: var(--primary-color);
    font-family: var(--primary-font);
    font-size: 2rem;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 3px 12px rgba(0,0,0,0.1);
        }

h2 {
  font-family: var(--secondary-font);
  font-weight: 700;
        }

.btn-primary {
  background-color: var(--secondary-color);
  color: var(--light-color);
}