@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap');

/* CSS Variables */
:root {
  --primary-font: "Inter", sans-serif;
  --secondary-font: "Macondo", serif;
  --primary-color: #fca311;
  --secondary-color: #14213d;
  --third-color: #e5e5e5;
  --light-color: #ffffff;
  --dark-color: #000000;
  --background-color: rgba(8, 8, 8, 0.5);
  --bs-gutter-x: 0;
}

body {
    background-image: url('../images/booking.jpg'); /* only the URL here */
    background-repeat: no-repeat;      /* prevent tiling */
    background-position: center;      
    background-size: cover;      
        }

h1 {
    font-family: var(--secondary-font);
    font-size: 3.5rem;
    font-weight: 700;
}

h2 {
    font-family: var(--primary-font);
    font-size: 2rem;
    font-weight: 500;
}

h4 {
    font-size: 2.5rem;
}

.signup {
  font-size: 2rem;
}

.btn-signup {
    font-size: 1.7rem;
    background-color: var(--secondary-color);
    color: var(--third-color);
}

.btn-signup:hover {
    background-color: var(--primary-color);
}

.login {
    color: var(--secondary-color);
    font-weight: 600;
}

.btn-primary {
  background-color: var(--dark-color);
  border: none;
  font-size: 1.7rem;
  font-weight: 600;
}

