{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/delete.css' %}">
{% endblock %}

{% block content %}
<div class="reservation-container pt-5 mt-5">
    <div class="row">
        <div class="col-12 mb-3">

<h2>Cancel Reservation</h2>

<p>Are you sure you want to cancel the reservation for <strong>{{ reservation.name }}</strong>?</p>

<form method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary mb-3">Confirm Cancel</button>
</form>

<a href="{% url 'reservation_list' %}">Back</a>

     </div>
    </div>
</div>
{% endblock %}