{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/reservations.css' %}">
{% endblock %}

{% block content %}
<div class="reservation-container pt-5 mt-5">
    <div class="row">
        <div class="col-12 mb-3">

<h2>Your Reservations</h2>

<ul class="list-group">
    {% for r in reservations %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div>
                <strong>{{ r.name }}</strong><br>
                {{ r.date }} at {{ r.time }} — Party of {{ r.party_size }}
            </div>

            <div>
                <a href="{% url 'edit_reservation' r.pk %}" class="btn btn-warning btn-sm">Change</a>
                <a href="{% url 'delete_reservation' r.pk %}" class="btn btn-danger btn-sm">Cancel</a>
            </div>
        </li>
    {% empty %}
        <li class="list-group-item">No reservations yet.</li>
    {% endfor %}
</ul>
     </div>
    </div>
</div>
{% endblock %}