{% extends "base.html" %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block extra_head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/sign_up.css' %}">
{% endblock %}

{% block content %}
<div class="signup-page-wrapper">  
    <div class="container">  
        <div class="row">
            <div class="col-md-6 mx-auto">

                <h1 class="text-center mb-4 mt-4">
                    <i class="fa-solid fa-pen"></i> {% trans "Sign Up" %}
                </h1>

                <p class="text-center">
                    {% blocktrans %}Already have an account?
                        <a class="link" href="{{ login_url }}">sign in</a>.
                    {% endblocktrans %}
                </p>

                <form class="signup p-4 border rounded shadow-lg"
                      id="signup_form"
                      method="post"
                      action="{% url 'account_signup' %}">

                    {% csrf_token %}
                    {{ form.as_p }}

                    <button type="submit" class="btn btn-primary w-100">
                        {% trans "Sign Up" %}
                    </button>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock content %}
