{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/confirmation.css' %}">
{% endblock %}


{% block content %}
<div class="reservation-container pt-5 mt-5">
    <div class="row mt-5">
        <div class="col-12 mb-3">
<h1 class="text-center">Success!.<br></h1>
    <br>
<h2>Your reservation has been made.</h2>
<p>Your reservation can be changed or cancelled at any time.</p>

<a href="{% url 'reservation_list' %}" class="btn btn-primary signup mb-4">See your reservations.</a>

     </div>
    </div>
</div>
{% endblock %}
 