{% extends 'base.html' %}
{% block content %}
{% load static %}
 <link rel="stylesheet" href="{% static 'css/about.css' %}">


<div class="container mt-5">
  <div class="row">
    <div class="col-6 text-center">
      <img src="{% static 'images/flat-lay-wall-clock-still-life.webp' %}" width="75%" />
    </div>
    <div class="col-6">
      <!-- Title goes between these h2 tags -->
      <h2>{{ about.title }}About Planora</h2>
      <!-- Content goes directly underneath this -->
      {{ about.content | safe }}
      <p>Planora is designed to simplify planning and collaboration for modern teams. We provide intuitive tools that bring order to complexity, streamline workflows, and empower people to create, organize, and execute their ideas with ease. Our mission is to help individuals and organizations stay focused, aligned, and ready for what’s next.<br>
<br>
At its core, Planora is built around clarity. We believe that effective planning shouldn’t feel overwhelming or rigid. That’s why we’ve crafted a platform that adapts to the way people actually work—flexible enough for creative thinking, structured enough for precise execution, and powerful enough to support projects of any scale.<br>
<br>
    </div>
  </div>
  <div class="row">
    <div class="col text-right">
      <!-- Updated on field goes in here -->

      <!-- <p class="text-end"><em>Updated on: {{ about.updated_on }}</em></p> -->
    </div>
  </div>
</div>

{% if success %}
    <div class="alert alert-success">Thank you! Your message was sent.</div>
{% endif %}

<form method="POST">
    {% csrf_token %}
    {% for field in form %}
        <div class="mb-3">
            <label>{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
                <div class="text-danger">{{ field.errors }}</div>
            {% endif %}
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Send</button>
</form>


{% endblock content %}
