@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap');

/* CSS Variables */
:root {
  --primary-font: "Inter", sans-serif;
  --secondary-font: "Macondo", serif;
  --primary-color: #fca311;
  --secondary-color: #14213d;
  --third-color: #e5e5e5;
  --light-color: #ffffff;
  --dark-color: #000000;
  --background-color: rgba(8, 8, 8, 0.5);
  --bs-gutter-x: 0;
}

body {
    background-image: url('../images/reservation-illustration.jpg'); /* only the URL here */
    background-repeat: no-repeat;      /* prevent tiling */
    background-position: center;      
    background-size: cover;      
        }


.btn-primary {
    background-color: var(--primary-color);
    color: var(--light-color);
    font-size: 1.7rem;
}

.btn-primary:hover {
    background-color: var(--third-color);
    color: var(--third-color);
}
#id_notes {
  width: 5rem;
  height: 10rem;
}