@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap');

/* CSS Variables */
:root {
  --primary-font: "Inter", sans-serif;
  --secondary-font: "Macondo", serif;
  --primary-color: #fca311;
  --secondary-color: #14213d;
  --third-color: #e5e5e5;
  --light-color: #ffffff;
  --dark-color: #000000;
  --background-color: rgba(8, 8, 8, 0.5);
  --bs-gutter-x: 0;
}

p {
    font-size: 1.5rem;
}

body {
    background-image: url('../images/booking.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

h2 {
    font-family: var(--secondary-font);
    font-size: 1.5rem;
    font-weight: 700;
    }

h3 {
    font-family: var(--primary-font);
    font-size: 1.5rem;
    font-weight: 500;
}

h4 {
    font-size: 1.5rem;
}
.signup-page-wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;       
    padding-top: 40px;         
    padding-bottom: 40px;
}

.btn-signup {
    background-color: var(--secondary-color);
    color: var(--light-color);
    font-size: 1.5rem;
}

.btn-signup:hover {
    background-color: var(--primary-color);
}

.link {
    color: var(--secondary-color);
    font-size: 1.5rem;
    font-weight: 600;
}  

.link:hover {
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 600;
}  
